.home {
    min-width: fit-content;
    background-color: rgb(53, 53, 53);
    position: relative;
}

.home-contianer {
    min-height: 100vh;
    padding: 10px;
    
}

.content1 {
    margin-top: 70px;
    position: relative;
    float: left;
    width: 70vw;
    min-height: 30vw;
    box-shadow: -2px -2px white;
    padding-left: 10px;
    overflow: hidden;
    border-radius: 40px 40px;
    background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.6), rgba(153, 153, 153, 0.6));
}

.content2 {
    margin-top: 70px;
    position: relative;
    float: right;
    width: 25vw;
    height: 30vw;
    box-shadow: -2px -2px white;
    border-radius: 10px 60px 20px;
    background: linear-gradient(to right, rgba(2, 2, 2, 0.6), rgba(153, 153, 153, 0.6));
}

.shit {
    width: 100%;
}

.home-heading {
    border-radius: 10px 50px 10px 10px;
    box-shadow: 2px 5px rgba(182, 182, 182, 0.6);
    color: #f0f8ff;
    text-align: center;
    background: linear-gradient(to top right, rgba(53, 53, 53, 0.6), rgba(153, 153, 153, 0.6));
    font-size: 4vw;
}

.home-para {
    width: 400px;
    color: rgb(145, 145, 145);
    text-align: center;
    text-decoration: underline;
}

.heading-text {
    text-decoration: wavy;
    text-shadow: 2px 2px black;
    color: beige;
    padding-left: 15px;
    min-height: 8vw;
    border-radius: 0px 50px 50px 0px;
    position: relative;
    top: 3vw;
}

.heading-text h1 {
    color: #d4d4d4;
    font-size: 5vw;
    width: 100%;
    text-align: start;
}

.heading-text h6 {
    font-size: 5vw;
    width: 100%;
}

#heading-para {
    font-size: 1.1vw;
}

.icon {
    color: white;
    width: 12vw;
    position: relative;
    top: 7vw;
    transform: translate(0%, 0%);
}

.random {
    margin: 15px;
    color: #a5a4a4;
    text-shadow: 1px 1px rgb(0, 0, 0);
}

.random h4 {
    font-size: 3vw;
}

.random h3 {
    font-size: 3vw;
    text-align: end;
}

.home-link {
    width: 100%;
}

.shit ul {
    position: relative;
    left: -20px;
    margin: 20px;
    text-align: center;
    list-style: none;
}

.shit ul li {
    margin-bottom: 5px;
    box-shadow: 2px 2px rgba(143, 143, 143, 0.6);
    background: linear-gradient(to top right, rgba(53, 53, 53, 0.6), rgba(153, 153, 153, 0.6));
    transition: 0.7s all;
}

.shit ul li:hover {
    box-shadow: 2px 3px 25px rgba(43, 255, 0, 0.6);
}

.shit ul li {
    color: white;
    text-decoration: none;
    font-size: 2em;
}

.shit ul a {
    font-size: 0.8vw;
    text-decoration: none;
}

.register {
    overflow: hidden;
    height: auto;
    padding-top: 20px;
    padding-bottom: 2px;
}

.register button {
    position: relative;
    z-index: 1;
    box-shadow: 2px 2px white;
    width: 20vw;
    font-size: 1.5vw;
    color: #f0f8ff;
    font-weight: bolder;
    border: none;
    padding: 10px 10px;
    border-radius: 10px;
    background: linear-gradient(to right, rgba(25, 25, 25, 0.3), rgba(25, 25, 25, 0.3));
    transition: all 0.6s;
}
.register .button2{
    position: relative;
    z-index: 1;
    box-shadow: 2px 2px white;
    width: 10vw;
    font-size: 1.5vw;
    color: #f0f8ff;
    font-weight: bolder;
    border: none;
    padding: 10px 10px;
    border-radius: 10px;
    background: linear-gradient(to right, rgba(25, 25, 25, 0.3), rgba(25, 25, 25, 0.3));
    transition: all 0.6s;

}
.register .button2:hover{
    background-color: rgb(196, 0, 0);
}
@media only screen and (max-width: 736px) {
    .content1 {
        display: block;
        width: 90vw;
    }
    .content2 {
        display: block;
        width: 90vw;
        margin-top: 20px;
        text-align: center;
        position: relative;
        border: 2px solid;
        border-radius: 10px 20px 10px 10px;
    }
    .shit {
        text-align: center;
        position: absolute;
        top: 0px;
    }
    .home-heading {
        width: 100%;
    }
    .register {
        transform: scale(1);
        position: relative;
        bottom: 20px;
    }
}

@media only screen and (max-width:575px) {
    .icon {
        display: none;
    }
}