.formcontainer {
    min-height: 100vh;
    background-color: rgb(54, 54, 54);
}

.register-header {
    color: white;
    text-shadow: 2px 2px rgb(145, 145, 145);
}

.form {
    color: aliceblue;
    width: 50%;
    border-radius: 10px;
    background: linear-gradient(to bottom right, rgba(77, 77, 77, 0.5), rgba(202, 202, 202, 0.5));
    text-shadow: 2px 2px black;
    transition: 0.7s;
    padding: 70px 30px;
    box-shadow: 2px 2px 2px white;
   
}

.inputfield {
    transition: 0.7s;
    margin-bottom: 5px;
    padding: 5px 1px;
}

.inputfield:hover {
    background-color: rgb(39, 39, 39);
    border-radius: 5px;
}

.form input {
    width: 20vw;
    border-radius: 5px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 3px solid white;
    color: wheat;
    outline: none;
    transition: 0.7s;
}

.form input:focus {
    width: 60%;
    border-radius: 5px;
    border: none;
    border-bottom: 3px solid white;
    color: wheat
}

.button {
    position: relative;
    z-index: 1;
    box-shadow: 2px 2px white;
    width: 20vw;
    font-size: 1.6vw;
    color: #f0f8ff;
    font-weight: bolder;
    border: none;
    padding: 10px 10px;
    border-radius: 10px;
    background: rgba(25, 25, 25, 0.3);
    transition: all 0.6s;
}

.button:hover {
    background: rgba(43, 243, 43, 0.3);
    color: #f0f8ff;
}
input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
  
        input[type=number] {
            -moz-appearance: textfield;
        }

@media only screen and (max-width: 850px) {
    .form {
        width: 100%;
        text-align: center;
    }
    .form input {
        width: 100%;
       
    }
    .button{
        width: 100%;
    }
}