@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

.card:hover{
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  cursor: pointer;
}

.logo{
  font-family: 'Gloria Hallelujah', cursive;
  /* font-size: 16px; */
}