body{
    background-color:rgb(0, 0, 0)
}

#main{
    position:relative;
    margin:auto;
    height:40vw;
    width:40vw;
    background: url(clock.jpg) no-repeat;
    background-size:100%;
    border-radius:2900px;

}

#hour, #minutes, #seconds{
    position:absolute;
    background:black;
    border-radius:10px;
    transform-origin:bottom;
}

#hour{
    width:1.8%;
    height:25%;
    top:25%;
    left:48.85%;
    opacity:0.8;
}

#minutes{
    width: 1.6%;
    height: 30%;
    top: 19%;
    left: 48.9%;
    opacity: 0.8;
}
  
#seconds{
    width: 1%;
    height: 40%;
    top: 9%;
    left: 49.25%;
    opacity: 0.8;
}

#digital {

    font-size: 175px;
    color:white;
    width: 900px;
    margin:auto;
    margin-top:50px;
    text-align: center;
    border: 10px solid rgb(252, 252, 252);
    border-radius: 20px;
  }