<footer class="mt-4 lg:mt-6 flex flex-col text-center">
        <div class="lg:mb-2">
                <p class="font-semibold text-sm sm:text-base lg:text-lg">Find me on the Web</p>
                <p class="-mt-1 text-xs sm:text-sm lg:text-base">@<a href="https://www.instagram.com/bikas_kr57/" target="_blank"
                                rel="noopener noreferrer">Bikas Kumar Behera</a></p>
                <ul class="flex justify-center pt-1 pb-2 lg:pb-1 lg:pt-2 text-xs sm:text-base lg:text-lg">
                        <li class='pr-4 lg:pr-8 hover:text-colorT-three'><a href="https://twitter.com/its_vikaskr"
                                        target="_blank" class="">
                                        <i class="fab fa-twitter fa-2x" aria-hidden="true"></i></a></li>
                        <li class='pr-4 lg:pr-8 hover:text-colorT-three'><a href="https://github.com/Bikaskumar572/"
                                        target="_blank" class="">
                                        <i class="fab fa-github fa-2x" aria-hidden="true"></i></a></li>
                        <li class='hover:text-colorT-three'><a href="https://www.linkedin.com/in/bikaskr572/"
                                        target="_blank" class="">
                                        <i class="fab fa-linkedin fa-2x" aria-hidden="true"></i></a></li>
                </ul>
        </div>
        <p class='text-colorT-two bg-color-three text-xs tracking-wider pb-2 pt-1'>
                Created by: <span class="font-semibold tracking-widest">{{name}}</span></p>
</footer>